<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=shopName%>></title>
</head>
<body>
    <h1> This is the register page </h1> 

    <!-- information form -->
    <form method="POST" action="/registered"> 
        First Name:<input id="first" type="text" name="first"/> 
        Last Name:<input id="last" type="text" name="last" /> 
        Email: <input id="email" type="email" name="email"/>
        <input type="submit" value="OK" /> 
    </form>

</body>
</html>